.blog-footer {
  padding: 30px;
  background: var(--dark);
  color: var(--light);
  justify-content: space-between;
}

.go-top {
  position: relative;
}

.blog-footer i {
  font-size: 30px !important;
}

.social-media a {
  padding-right: 5px;
  height: 30px;
}
