.showcase {
  height: 600px;
  padding: 100px 20px;
  text-align: center;
  border-bottom: #ccc 1px solid;
  margin-bottom: 30px;
  color: var(--light);
  background: #333 url("../img/showcase.jpg") no-repeat center center;
}

.showcase h1 {
  font-size: 55px;
  padding-bottom: 20px;
  color: var(--light);
}

.showcase p {
  font-size: 20px;
  margin-bottom: 50px;
}

.front-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.boxes {
  text-align: center;
  margin-bottom: 30px;
  color: var(--light);
}

.box .fa {
  font-size: 45px !important;
  margin-bottom: 10px;
}

.box {
  background: var(--green);
  padding: 15px; 
  flex: 0 1 25%;
}

.showcase .button {
  position: relative;
  outline: none;
  border: none;
  padding: 15px;
  font-size: 20px;
  background: var(--red);
  cursor: pointer;
  color: var(--light);
  transition: all 0.2s ease-in-out;
}

.showcase .button:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: 10px;
  left: 10%;
  background-color: var(--light);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.showcase .button:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.showcase .button:focus {
  box-shadow: 0 0 0 0.125em rgba(215, 87, 73, 0.25);
}

.showcase .button:active {
  background: rgba(140, 58, 49);
}

@media only screen and (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }
  .box {
    flex: none;
  }
}
