.post-gallery-container {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.gallery-title {
  text-align: center;
}

.gallery {
  height: 400px;
}

.gallery img {
  margin: 0 auto;
  width: auto;
  max-width: 85%;
  height: 400px;
  animation: slideLeft 0.3s linear forwards;
  overflow: hidden;
}

@keyframes slideLeft {
  from {
    padding-left: 500px;
    opacity: 0;
  }
  to {
    padding-left: 0;
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  display: none;
}

.show {
  display: block;
  opacity: 1;
}

.arrows {
  font-size: 40px !important;
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  cursor: pointer;
  color: var(--yellow);
}
